.container__itemDetail {
  display: flex;
  flex-direction: row;
  border-top: 1rem solid rgb(100, 58, 255);
}
.itemDetail__img {
  flex-basis: 50%;
}
.itemDetail__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-basis: 50%;
  text-align: center;
}
.itemDetail__text h1 {
  font-size: 3em;
  transition: all 0.2s ease-in-out;
}
.itemDetail__text h1:hover {
  color: rgb(100, 58, 255);
}
.itemDetail__text p {
  font-size: 1.4em;
  transition: all 0.3s ease-in-out;
}
.itemDetail__hover:hover {
  color: rgb(100, 58, 255);
  transform: scaleX(1.6) scaleY(1.4) scaleZ(2);
}
.itemDetail__toCart {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 4% 4%;
  padding: 1%;
  transition: all 0.1s ease-in-out;
  border: none;
}
.itemDetail__toCart:hover {
  transform: scale(1.2);
  background-color: rgb(100, 58, 255);
  cursor: pointer;
}
