.container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px white solid;
  background-color: #000;
  margin: 1%;
  padding: 1%;
  min-width: fit-content;
  height: 500px;
  text-align: center;
}

.item__detail {
  font-size: 0.8rem;
  font-style: italic;
}
.container__item a {
  text-decoration: none;
}
.item__title {
  font-size: 1.2rem;
  transition: all ease-in-out 0.2s;
  color: #fff;
}
.item__title:hover {
  color: rgb(100, 58, 255);
  transform: scale(1.2);
}

.item__price {
  font-size: 1.4rem;
}
.item__img {
  max-width: 100%;
  max-height: 60%;
  flex-grow: 1;
}
.item__count {
  width: 50%;
}
