.menu {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #000;
  color: #fff;
}
#logo {
  flex-grow: 1;
  text-align: left;
  padding-left: 5%;
  border-right: rgb(100, 58, 255) 3px dotted;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo__content {
  cursor: pointer;
  transition: all 0.2s 0s ease-in-out;
}
.logo__content:hover {
  color: rgb(100, 58, 255);
  text-shadow: 0px 0px 2px rgb(148, 119, 253);
  font-size: 3em;
}
.menu__opcion,
.opcion__cart {
  flex-basis: 15%;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #fff;
  transition: all 0.2s 0s ease-in-out;
  user-select: none;
  cursor: pointer;
}
.menu__opcion:hover {
  text-shadow: 0px 0px 6px rgb(148, 119, 253);
  transform: scale(1.2);
  color: rgb(148, 119, 253);
}
.menu__select {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.menu__select:hover {
  color: rgb(148, 119, 253);
  text-shadow: 0px 0px 6px rgb(148, 119, 253);
}
option {
  text-align: center;
}
.opcion__cart:hover {
  color: rgb(148, 119, 253);
  text-shadow: 0px 0px 6px rgb(148, 119, 253);
}
.opcion__cart {
  flex-basis: 5%;
}
.cartQuantity {
  font-size: 1.2em;
  position: relative;
  right: 17px;
  bottom: 24px;
}
